<!DOCTYPE html>
<html lang="en">
<head>
  <title>Success Page</title>
</head>
<body>
  <h1>Stops with name containing <%= stopname %></h1>
	<% for (const row of stopNames) { %>	
		<p><%= row.stop_name %></p>
	<% } %>

</body>
</html>