<!-- updateUser.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Update User</title>
  <!-- Include necessary CSS frameworks -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h2>Update User</h2>
        <form action="/updatePassword" method="POST">
          <div class="form-group">
            <label for="input_email">Email</label>
            <input type="text" class="form-control col-lg-9" id="input_email" placeholder="Enter email" name="input_email">

            <label for="input_old_password">Old Password</label>
            <input type="text" class="form-control col-lg-9" id="input_old_password" placeholder="Enter password" name="input_old_password">

            <label for="new_password">New Password</label>
            <input type="text" class="form-control col-lg-9" id="new_password" placeholder="Enter password" name="new_password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>